body {
  background-color: rgb(244, 217, 127);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container {
  text-align: center;
  /* Zentriert den Inhalt im Container */
  margin-top: 50px;
  /* Setzt den oberen Randabstand des Containers auf 50 Pixel */
}


/* Die karten */

#memoryGame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}


.card {
  margin: 10px;
}

#card-count {
  margin-bottom: 40px;
}

.grid {
  display: flex;
  /* Flexbox zum Erstellen des Rasters */
  flex-wrap: wrap;
  /* Erlaubt einen Zeilenbruch, wenn die Zeile zu lang ist */
  justify-content: center;
  /* Zentriert den Inhalt horizontal im Raster */
}

.img {
  width: 150px;
  /*  Breite der Karte  */
  height: 150px;
  /*  Höhe der Karte */
  margin: 10px;
  /*  der Abstand zwischen den Karten */
  background-color: #f2f2f2;
  /* die Hintergrundfarbe der Karten */
  border-radius: 10px;
  /* Setzt die abgerundeten Ecken der Karten auf 10 Pixel */
  cursor: pointer;
  /* Ändert den Mauszeiger, wenn der Nutzer über die Karte bewegt */
  display: flex;
  /* Flexbox zum Zentrieren des Inhalts der Karte */
  justify-content: center;
  /* Zentriert den Inhalt horizontal in der Karte */
  align-items: center;
  /* Zentriert den Inhalt vertikal in der Karte */
  font-size: 50px;
  /*  Schriftgröße des Inhalts der Karte  */
  order: 0;
}

#reset {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.frontface {
  display: none;
  /* Versteckt den Inhalt der Karte */
  cursor: pointer;
}

.flipped {
  display: block;
  /* Zeigt den Inhalt der Karte an, wenn sie umgedreht ist */
}




/* Stil für das Pop-up-Fenster */

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  text-align: justify;
  text-align-last: center;
  z-index: 2;
}


/* Stil für den Schließen-Button */
#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Stil für die Absatz-Container */
.paragraph-container {
  margin-bottom: 10px;
}



/* Stil für die Buttons */

#buttonSearch {
  cursor: pointer;
}





/* Stil für die Timer */
#timer {
  font-size: 30px;
  float: right;
  padding: 20px;
}

#start {
  cursor: pointer;
}

#stop {
  cursor: pointer;
}

#controls {
  margin-top: 10px;
  position: relative;
  float: right;
}

#controls button {
  font-size: 15px;
  margin: 5px;
  background-color: peru;
  color: white;
}


/* Stil für die Highscore-Liste */

#highscore { 
  position: relative;
  text-align: center;
  cursor: pointer;
}

#show-leaderboard {
  position: relative;
  cursor: pointer;
  text-align: center;
}
