.container {
  text-align: center;   /* Zentriert den Inhalt im Container */
  margin-top: 50px;     /* Setzt den oberen Randabstand des Containers auf 50 Pixel */
}

.grid {
  display: flex;            /* Flexbox zum Erstellen des Rasters */
  flex-wrap: wrap;          /* Erlaubt einen Zeilenbruch, wenn die Zeile zu lang ist */
  justify-content: center;  /* Zentriert den Inhalt horizontal im Raster */
}

/* Style den button vom Menü */
.dropdownbutton {
  background-color: #020101;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* wichtig, damit das Drwopdown-Menü direkt unter dem Button ist*/
.dropdownmenu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content ist versteckt  bis rübergehovered wird*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Zahlen im Drowpdown-Menü */
.dropdown-content a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

/* beim Rüberhovern verändert sich die Farbe der jewiligen Box ganz leicht */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Anzeigen des Dropdown-Menüs, wenn man rüberhovered */
.dropdownmenu:hover .dropdown-content {
  display: block;
}


.card {
  width: 150px;                 /*  Breite der Karte  */
  height: 150px;                /*  Höhe der Karte */
  margin: 10px;                 /*  der Abstand zwischen den Karten */
  background-color: #f2f2f2;  /* die Hintergrundfarbe der Karten */
  border-radius: 10px;          /* Setzt die abgerundeten Ecken der Karten auf 10 Pixel */
  cursor: pointer;              /* Ändert den Mauszeiger, wenn der Nutzer über die Karte bewegt */
  display: flex;                /* Flexbox zum Zentrieren des Inhalts der Karte */
  justify-content: center;      /* Zentriert den Inhalt horizontal in der Karte */
  align-items: center;          /* Zentriert den Inhalt vertikal in der Karte */
  font-size: 50px;              /*  Schriftgröße des Inhalts der Karte  */
  order: 0;
  transform: 0.2s;
  
}

.card:hover{
 transform: rotateY(180deg); 
}
.card span {
  display: none;        /* Versteckt den Inhalt der Karte */
}

span.flipped {
  display: block;       /* Zeigt den Inhalt der Karte an, wenn sie umgedreht ist */
}

.selected {
  border: black solid 5px;   /* Setzt eine schwarze Linie mit 5 Pixel Breite um die ausgewählte Karte */
}

.correct {
  background-color: green;   /* Setzt den Hintergrund der Karte auf Grün, wenn sie korrekt erraten wurde */
}

.incorrect {
  background-color: red;     /* Setzt den Hintergrund der Karte auf Rot, wenn sie falsch erraten wurde */
}
